/* ! Start Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans",sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --maincolor:#2196f3;
    --padding-top:80px;
    --padding-bottom:80px;
    --transperant-color:rgb(25 200 250 / 60%);
    --blue:#032f55;
    --section-background: #ececec;
    --shadow-one:0 0 10px #ddd;
    --shadow-two:0 2px 15px rgb(0 0 0 /20%);
    --shadow-three:0 12px 12px 0 rgb(0 0 0/13%),0 2px 4px 0 rgb(0 0 0 / 12%);
    --shadow-four:0 2px 15px rgb(0 0 0 /10%);
    --shadow-five:0 2px 15px rgb(0 0 0 /20%);
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
    .container{
        width:750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}

.main-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--maincolor);
    border-radius: 50%;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover{
    border-color: white;
    color: white;
    transition-delay: 0.4s;
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title::before{
    left:-30px;
}
.main-title::after{
    right:-30px;
}

/* ! END Global Rules */

/* ! START HEADER */

header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    /* padding: 30px; */
    position: relative;
    max-width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


header .container .logo {
    color: var(--maincolor);
    font-size: 26px;
    font-weight:bold;
    display: flex;
    height: 72px;
    align-items: center;
}

@media (max-width:767px){
    header .container .logo {
        width: 100%;
        justify-content: center;
    }
}

header .container .main-nav{
    display: flex;
}

@media (max-width:767px){
    header .container ul {
        margin: auto;
    }
}

header .container .main-nav >li:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}


header .container > ul > li > a{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding:0 30px;
    transition: 0.4s;
    overflow: hidden;
}

@media (max-width:767px){
    header .container ul > li > a {
        font-size: 15px;
        height: 50px;
        padding: 8px;
    }
}

header .container > ul > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--maincolor);
    top: 0;
    left: -100%;
    transition: 0.4s;
}

header .container >ul >  li > a:hover{
    background-color: #fafafa;
    color: var(--maincolor);
}

header .container > ul >  li > a:hover::before{
    left: 0;
}
/* * START MEGA MENU */

header .container .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--maincolor);
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition:top 0.4s, opacity 0.4s;
}

@media(max-width:767px){
    header .container .mega-menu{
        flex-direction: column;
        gap: 0;
    }
    header .container .mega-menu .links:first-of-type li:last-of-type{
        border-bottom: 1px solid #ddd;
    }
}

header .mega-menu .links{
    min-width: 240px;
    flex: 1;
}

header .mega-menu .links li{
    position: relative;
}

header .mega-menu .links li::before {
    content:" ";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: 0.4s;
}

header .mega-menu .links li:hover::before{
    width: 100% ;
}

header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

header .mega-menu .links li a{
    color:var(--maincolor);
    display: block;
    padding: 15px;
    font-weight: bold ;
    font-size: 18px;
} 

header .mega-menu .links li i{
    margin-right: 15px;
    font-weight: bold;
}

/* header .container .main-nav > li:last-child:hover{
    .mega-menu{
        display: flex;
    }
} */

header .container .mega-menu .image img{
    max-width: 100%;
}

@media (max-width:991px){
    header .container .mega-menu .image img{
        display: none;
    }
}

/* * END MEGA MENU */

/* ! END HEADER */

/* ! STRAT LANDING  */

.landing{
    position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container{
    display: flex;
    min-height: calc(100vh - 72px);
    align-items: center;
    padding-bottom: 120px;
}

.landing img{
    width: 600px;
    max-width: 100%;
    height: 378.5px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px){
    .landing img{
        display: none;
    }
}

.landing .container .info{
    flex: 1;
}

@media (max-width:991px){
    .landing .info{
        text-align: center;
    }
    .landing .container .info p{
        margin: 10px auto;
    }
}

.landing .container .info h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}

@media (max-width:767px){
    .landing .container .info h1{
        font-size: 22px;
    }
}

.landing .container .info p{
    line-height: 2;
    max-width: 100%;
    font-size: 22px;
    color: #777;
    margin: 5px 0 0;
}

@media (max-width:767px){
    .landing .container .info p{
        font-size: 12px;
    }
}


.landing .go-down i{
    color: var(--maincolor);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateY(-50%);
    animation: bouncing 1.5s linear infinite;
}


/* ! END LANDING  */

/* ! START ARTICLES */

.articles{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.articles .card{
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    border-radius: 8px;
    transition: 0.4s;
}

.articles .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .card:hover i{
    animation: arrow 0.6s linear infinite;
}

.articles .image img{
    max-width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.articles .container .info{
    padding: 20px;
}

.articles .container .info h3{
    margin: 0;
}

.articles .container .info p{
    margin: 10px 0 0;
    line-height: 1.8;
    color: #777;
}

.articles .container .read-more{
    border-top: 1px solid #ddd;
    padding: 20px;
    color: var(--maincolor);
    display: flex;
    justify-content: space-between;
}

.articles .container .read-more a{
    color: var(--maincolor);
    font-weight: bold;
}

.articles .container .read-more i{
    font-size: 12px;
    transition: 0.4s;
    font-weight: bold;
}
/* ! END ARTICLES */

/* ! START GALLERY */

.gallery{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap:30px;
}

.gallery .card{
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    padding: 15px;
}

.gallery .container .card .image{
    position: relative;
    overflow: hidden;
}

.gallery .container .card .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:var(--section-background);
    opacity:0;
    transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    transition: 0.4s;
}

.gallery .container .card .image:hover::before{
    animation: flashing 0.7s;
}

.gallery .container .card .image img:hover{
    transform: rotate(5deg) scale(1.1);
}

.gallery img{
    transition: 0.4s;
    max-width: 100%;
}
/* ! END GALLERY */


/* ! START FEATURES */

.features{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.features .card{
    border: 1px solid #ccc;
    text-align: center;
}

.features .image{
    position: relative;
    overflow: hidden;
}

.features .card:first-child .image::before{
    content: "";
    position: absolute;
    background-color:#f43f3653;
    width: 100%;
    height: 100%;
}
.features .card:nth-child(2) .image::before{
    content: "";
    position: absolute;
    background-color:#00968751;
    width: 100%;
    height: 100%;
}
.features .card:last-child .image::before{
    content: "";
    position: absolute;
    background-color:#03a8f44a;
    width: 100%;
    height: 100%;
}
.features .card .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color:transparent transparent white  transparent ;
    border-width:0px 0px 170px 700px;
    transition: 0.4s;
}

.features .card:hover .image::after{
    border-width:0px 500px 170px 0px;
}

.features .image img{
    max-width: 100%;
}

.features .info{
    padding: 10px; 
}

.features .info h1{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .card:first-child .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #f44036;
}

.features .card:nth-child(2) .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #009688;
}

.features .card:last-child .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #03a9f4;
}

.features .card .info p{
    color: #777;
    line-height: 2;
    font-size: 23px;
    padding: 25px;
}

.features .card a{
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.features .card:first-child .link a{
    border: #f44036 solid 3px;
    color:  #f44036;
    transition: 0.4s;
    background: linear-gradient(to right,#f44036 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .card:nth-child(2) .link a{
    border:  #009688 solid 3px;
    color:   #009688;
    transition: 0.4s;
    background: linear-gradient(to right,#009688 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .card:last-child .link a{
    border: #03a9f4 solid 3px;
    color: #03a9f4;
    transition: 0.4s;
    background: linear-gradient(to right,#03a9f4 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


.features .card:first-child:hover .link a,
.features .card:nth-child(2):hover .link a,
.features .card:last-child:hover .link a{
    background-position: left bottom;
    color: white ;
}

/* ! END FEATURES */

/* ! START TESTIMONIALS */
.testimonials{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .card{
    background-color: white;
    padding: 40px;
    position: relative;
    box-shadow: 0 0 20px #ddd;
    border-radius: 10px;
}

.testimonials img{
    width: 90px;
    border-radius: 50%;
    border-color: var(--section-background);
    border-style: solid;
    border-width: 10px;
    right: -10px;
    top: -35px;
    position: absolute;

}

.testimonials .card h4{
    color: var(--maincolor);
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.testimonials .card span{
    display: block;
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.testimonials .card .filled{
    color: #ffc107;
    margin-bottom: 10px;
}

.testimonials .card p{
    line-height: 1.8;
}

/* ! END TESTIMONIALS */

/* ! START TEAM-MEMBER */
.team-member{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.team-member .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.team-member .section{
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-member .card{
    position: relative;
}

.team-member .card::before,
.team-member .card::after{
    content: "";
    position: absolute;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.team-member .card::before{
    width:calc(100% - 60px);
    z-index: -2;
}

.team-member .card::after{
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team-member .card:hover::after{
    width:calc(100% - 60px);
}

.team-member img{
    width:calc(100% - 60px);
    border-radius:10px; 
    transition: 0.4s;
}

.team-member .card:hover img{
    filter: grayscale(100%);
}

.team-member .icon{
    /* margin-left: 10px; */
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-member .card .icon a{
    color: #777;
    transition: 0.4s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member .card .icon a:hover{
    color: var(--maincolor)
    ;
}

.team-member .card i{
    display: block;
    padding: 10px;
}

.team-member .card .info{
    padding-left: 80px;
}

.team-member .card .info h2{
    margin-bottom: 0;
    margin-top: 15px;
    color: var(--maincolor);
    transition: 0.4s;
    font-size: 22px;
}

.team-member .card:hover .info h2{
    color: #777;
    z-index: -2;
}

.team-member .card .info span{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* ! END TEAM-MEMBER */

/* ! START SERVICES */

.services{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.services .card{
    background-color: white;
    counter-increment: services;
    box-shadow: 0 12px 12px 0 rgb(0 0 0/13%),0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    transition: 0.4s;
}

.services .card::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--maincolor);
    width: 0;
    height: 5px;
    top: -5px;
    transition: 0.4s;
}

.services .card:hover::before{
    width: 100%;
}

.services .card:hover{
    
    transform: translateY(-20px);
}

.services .card i{
    color: #d5d5d5;
    margin: 40px auto 20px;
    display: block;
    text-align: center;
}

.services .card >h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--maincolor);
}

.services .card .info{
    padding: 20px;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
    overflow: hidden;
}

.services .card .info::before{
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    width:100px;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--maincolor);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .card .info::after{
    content: "";
    position: absolute;
    width: 50px;
    height: calc(100% + 50px);
    background-color: #d5d5d5;
    left: 80px;
    top: 0;
    transform: skewX(-15deg);
    
}

.services .card .info a{
    color: var(--maincolor);
}

/* ! END SERVICES */

/* ! START OUR SKILLS */

.our-skills{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.our-skills .container{
    display: flex;
    align-items: center;
}

@media (max-width:991px){
    .our-skills img{
        display: none;
    }
}

.our-skills .skills{
    flex: 1;
}

.our-skills .skills .skill h3{
    display: flex;
    justify-content: space-between;
}

.our-skills .skills .skill h3:not(:last-child){
    margin-bottom: 10px;
}

.our-skills .skills .skill h3 span{
    text-align: right;
    padding: 3px 5px;
    border: 1px solid #ddd;
    color: var(--maincolor);
    font-size: 12px;
    border-radius: 4px;
}

.our-skills .progress{
    background-color: var(--section-background);
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
    position: relative;
}

.our-skills .progress span{
    background-color: var(--maincolor);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* ! END OUR SKILLS */


/* ! START HOW IT WORKS */

.how-it-works{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.how-it-works .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works .section{
    margin-left: 30px;
}

.how-it-works .container .card{
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    box-shadow: 0 0 12px 0 #ddd;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    border: solid 1px white;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.how-it-works .container > img{
    margin-right: 100px;
}

@media (max-width:991px){
    .how-it-works .container > img{
    display: none;
    }
}

.how-it-works .container .card::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ededed;
    transition: 0.4s;
    z-index: -1;
}

.how-it-works .container .card:hover::before{
    width: 100%;
    height: 100%;
}

.how-it-works .container .card .image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how-it-works .container .card img{
    width: 60px;
    display: flex;
    align-content: center;
}

.how-it-works .container .card .info{
    margin-left: 30px;
}

.how-it-works .container .card p{
    line-height: 1.8;
    color: #777;
    font-size: 18px;
    margin-top: 10px;
}

/* ! END HOW IT WORKS */

/* ! START EVENTS */
.latest-events{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.latest-events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.latest-events .count{
    flex: 1;
}

.latest-events .container> img{
    max-width: 450px;
}

@media (max-width:767px){
    .latest-events .container> img{
        display: none;
    }
}

.latest-events .container .time{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
    align-items: center;
}

.latest-events .container .time .unit{
    border: solid 1px #d4d4d4 ;
    /* padding: 30px 20px 5px; */
    margin-right: 15px;
    text-align: center;
    border-radius: 8px;
    width: 75px;
    transition: 0.4s;
}

.latest-events .container .time .unit:hover{
    border-color: var(--maincolor);
}

.latest-events .container .time .unit span:nth-of-type(1){
    color: var(--maincolor);
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    border-bottom: solid 1px #d4d4d4;
}


.latest-events .container .time .unit span:nth-of-type(2){
    padding: 8px 10px;
    font-size: 13px;
}


.latest-events .container .time .unit span{
    display: block;
} 


.latest-events .subscribe{
    width: 100%;
    margin-top: 100px;
} 

.latest-events .info{
    text-align: center;
    margin-top:50px ;
}

.latest-events .info p{
    color: #777;
    line-height: 1.8;
}

.latest-events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px){
    .latest-events .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.latest-events .subscribe input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--maincolor);
}

@media (max-width:767px){
    .latest-events .subscribe input[type="email"]{
        border-radius: 0;
    }
}

.latest-events .subscribe input[type="email"]:focus{
    outline: none ;
}

@media (max-width:767px){
    .latest-events .subscribe input[type="submit"]{
        border-radius: 0;
    }
}

.latest-events .subscribe input[type="email"]::placeholder{
    transition: opacity 0.4s;
}


.latest-events .subscribe input[type="email"]:focus::placeholder{
    opacity: 0;
}

.latest-events .subscribe input[type="submit"]{
    border-radius: 50px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.latest-events .subscribe input[type="submit"]:hover{
    background-color:#0075ab;
}
/* ! END EVENTS */

/* ! START PLANS */

.pricing-plans{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.pricing-plans .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.pricing-plans .card{
    background-color: white;
    box-shadow: var(--shadow-three);
    text-align: center;
    position: relative;
    z-index: 100;
}

.pricing-plans .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50%;
    background-color: var(--section-background);
    transition: 0.4s;
}

.pricing-plans .card::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 50%;
    background-color: var(--section-background);
    transition: 0.4s;
}

.pricing-plans .card:hover::before,
.pricing-plans .card:hover::after{
    width: 100%;
    z-index: -2;
}

.pricing-plans .card h1{
    font-size: 25px;
    margin:30px 0;
    text-align: center;
}

.pricing-plans .card img{
    max-width: 80px;
    margin-bottom: 30px;
}

.pricing-plans .price{
    margin-bottom: 20px;
}

.pricing-plans .price .amount,
.pricing-plans .price .time{
    display: block;
}

.pricing-plans .price .amount{
    color: var(--maincolor);
    font-weight: bold;
    font-size: 60px;
}

.pricing-plans .price .time{
    color: #777;
    font-size: 16px;
}

.pricing-plans ul{
    text-align: left;
}

.pricing-plans ul li{
    padding: 20px;
    font-size: 16px;
}

.pricing-plans ul li:not(:nth-child(5)){
    border-bottom: #ddd solid 1px;
}

.pricing-plans .card ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bolder;
    color: var(--maincolor);  
}

.pricing-plans a{
    display: block;
    padding: 15px 20px;
    color: var(--maincolor);
    border: solid 2px var(--maincolor);
    border-radius: 8px;
    transition: 0.4s;
    font-size: 16px;
    margin: 30px auto 40px;
    font-weight: bold;
    width: fit-content;
}

.pricing-plans a:hover{
    background-color: var(--maincolor);
    color: white;
}

/* ! END PLANS */

/* ! START VIDEOS */

.videos{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.videos .section{
    display: flex;
    box-shadow: var(--shadow-four);
    justify-content: center;
    border: 1px solid #ddd;
}

@media (max-width:992px){
    .videos .section{
    flex-direction: column;
    }
}

.videos .section .section-one{
    box-shadow: var(--shadow-one);
    border-right: 1px solid #ddd;
    min-width: 300px;
}

.videos .section .section-one .title{
    border-bottom: 1px #ddd solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f5f5;
    font-weight: bold;
}

.videos .section .section-one ul li{
    border-bottom: 1px #ddd solid;
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.videos .section .section-one ul li:hover{
    background-color: var(--section-background);
}

.videos .section .section-one ul li span{
    display: block;
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.videos .section-two{
    background-color: var(--section-background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .section-two img{
    max-width: 100%;
}

.videos .section-two .info{
    background-color: white;
    padding: 20px;
    box-shadow: var(--shadow-one);
    max-width: 100%;
    margin-top: 10px;
}

/* ! END VIDEOS */

/* ! START STATS */

.stats{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url("../imgs/stats.jpg");
    position: relative;
}

.stats::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats > h1{
    margin: 0px auto 40px;
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    position: relative;
}

.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}

.stats .card{
    background-color: white;
    box-shadow: var(--shadow-four);
    padding: 30px;
    position: relative;
    text-align: center;
}

.stats .card::before,
.stats .card::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--maincolor);
    transition: 0.7s;
}

.stats .card::before{
    left: 0;
    top: 0;
}

.stats .card::after{
    right: 0;
    bottom: 0;
}

.stats .card:hover::before,
.stats .card:hover::after{
    height: 100%;
    width: 3px;
}

.stats i{
    text-align: center;
    margin: 10px auto 20px;
}

.stats h2{
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.stats .card span{
    color: var(--maincolor);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 10px 0 0;
    font-size: 20px;
}

/* ! END STATS */


/* ! START DISCOUNT */

.discount{
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .have{
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:991px){
    .discount .have{
        flex-basis: 100%;
    }
}

.discount .have::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 98%);
    z-index: -2;
}

.discount .content{
    text-align: center;
    padding: 0 20px;
}

.discount .content h1{
    font-size: 40px;
    letter-spacing: -2;   
}

.discount .content p{
    line-height: 1.6;
    font-size: 15px;
    max-width: 500px;
}

.discount .content img{
    width: 300px;
    max-width: 100%;
}

.discount .request{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width:991px){
    .discount .request{
        flex-basis: 100%;
    }
}


.discount .request form input,
.discount .request form textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    padding: 15px 0 15px 10px;
    margin-bottom: 10px;
    background-color: var(--section-background);
    caret-color: var(--maincolor);
}

.discount .request form textarea::placeholder,
.discount .request form input[type="text"]::placeholder,
.discount .request form input[type="email"]::placeholder,
.discount .request form input[type="number"]::placeholder{
    transition: opacity 0.4s;
}

.discount .request form textarea:focus::placeholder,
.discount .request form input[type="text"]:focus::placeholder,
.discount .request form input[type="email"]:focus::placeholder,
.discount .request form input[type="number"]:focus::placeholder{
    opacity: 0;
}

.discount .request form textarea:focus,
.discount .request form input[type="text"]:focus,
.discount .request form input[type="email"]:focus,
.discount .request form input[type="number"]:focus{
    outline: none;
}

.discount .request form input[type="number"]::-webkit-inner-spin-button,
.discount .request form input[type="number"]::-webkit-outter-spin-button{
    appearance: none;
}

.discount .request form textarea{
    resize: none;
    height: 200px;
    caret-color: var(--maincolor);
}

.discount .request form input[type="submit"]{
    background-color: var(--maincolor);
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}

.discount .request form input[type="submit"]:hover{
    background-color: #0075ab;
}

/* ! END DISCOUNT */

/* ! START FOOTER */

footer{
    background-color: #191919;
    color: white;
    padding-top: var(--padding-top);
}

footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

footer .section h1{
    font-size: 50px;
    margin: 0 0 20px;
}

footer .section .social{
    display: flex;
    color: #ddd;
} 

footer .section .social li {
    margin-right: 10px;
}

footer .section .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition:0.4s; 
}

footer .section .social .facebook:hover {
    background-color: #1877f2;
}
footer .section .social .twitter:hover {
    background-color: #1da1f2;
}
footer .section .social .youtube:hover {
    background-color: #ff0000;
}

footer .section p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
}

footer .links li{
    padding: 20px 0;
    transition: 0.4s;
    color: #ddd;
    position: relative;
}

footer .links li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

footer .links li::before{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    color: var(--maincolor);
    display: block;
}


/* ! END FOOTER */

/* todo START animation */

/* ? MAIN_TITLE */
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* ? MAIN_TITLE */

/* ? landing */
@keyframes bouncing{
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    30%,
    40%,
    70%{
        transform: translateY(-15px);
    }
}

@keyframes up-and-down{
    0%,
    100%{
        top:0;
    }
    50%{
        top:-50px
    }
}
/* ? landing */

/* ? ARTICLES */

@keyframes arrow{
    100%{
        transform: translateX(10px);
    }
}

/* ? ARTICLES */

/* ? GALLERY */

@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* ? GALLERY */

/* todo END animation */