/* ! Start Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans",sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --maincolor:#2196f3;
    --padding-top:80px;
    --padding-bottom:80px;
    --transperant-color:rgb(25 200 250 / 60%);
    --blue:#032f55;
    --section-background: #ececec;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
    .container{
        width:750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}

.main-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--maincolor);
    border-radius: 50%;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover{
    border-color: white;
    color: white;
    transition-delay: 0.4s;
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title::before{
    left:-30px;
}
.main-title::after{
    right:-30px;
}

/* ! END Global Rules */

/* ! START HEADER */

header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    /* padding: 30px; */
    position: relative;
    max-width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


header .container .logo {
    color: var(--maincolor);
    font-size: 26px;
    font-weight:bold;
    display: flex;
    height: 72px;
    align-items: center;
}

@media (max-width:767px){
    header .container .logo {
        width: 100%;
        justify-content: center;
    }
}

header .container .main-nav{
    display: flex;
}

@media (max-width:767px){
    header .container ul {
        margin: auto;
    }
}

header .container .main-nav >li:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}


header .container > ul > li > a{
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding:0 30px;
    transition: 0.4s;
    overflow: hidden;
}

@media (max-width:767px){
    header .container ul > li > a {
        font-size: 15px;
        height: 50px;
        padding: 8px;
    }
}

header .container > ul > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--maincolor);
    top: 0;
    left: -100%;
    transition: 0.4s;
}

header .container >ul >  li > a:hover{
    background-color: #fafafa;
    color: var(--maincolor);
}

header .container > ul >  li > a:hover::before{
    left: 0;
}
/* * START MEGA MENU */

header .container .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--maincolor);
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition:top 0.4s, opacity 0.4s;
}

@media(max-width:767px){
    header .container .mega-menu{
        flex-direction: column;
        gap: 0;
    }
    header .container .mega-menu .links:first-of-type li:last-of-type{
        border-bottom: 1px solid #ddd;
    }
}

header .mega-menu .links{
    min-width: 240px;
    flex: 1;
}

header .mega-menu .links li{
    position: relative;
}

header .mega-menu .links li::before {
    content:" ";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: 0.4s;
}

header .mega-menu .links li:hover::before{
    width: 100% ;
}

header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

header .mega-menu .links li a{
    color:var(--maincolor);
    display: block;
    padding: 15px;
    font-weight: bold ;
    font-size: 18px;
} 

header .mega-menu .links li i{
    margin-right: 15px;
    font-weight: bold;
}

/* header .container .main-nav > li:last-child:hover{
    .mega-menu{
        display: flex;
    }
} */

header .container .mega-menu .image img{
    max-width: 100%;
}

@media (max-width:991px){
    header .container .mega-menu .image img{
        display: none;
    }
}

/* * END MEGA MENU */

/* ! END HEADER */

/* ! STRAT LANDING  */

.landing{
    position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container{
    display: flex;
    min-height: calc(100vh - 72px);
    align-items: center;
    padding-bottom: 120px;
}

.landing img{
    width: 600px;
    max-width: 100%;
    height: 378.5px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px){
    .landing img{
        display: none;
    }
}

.landing .container .info{
    flex: 1;
}

@media (max-width:991px){
    .landing .info{
        text-align: center;
    }
    .landing .container .info p{
        margin: 10px auto;
    }
}

.landing .container .info h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}

@media (max-width:767px){
    .landing .container .info h1{
        font-size: 22px;
    }
}

.landing .container .info p{
    line-height: 2;
    max-width: 100%;
    font-size: 22px;
    color: #777;
    margin: 5px 0 0;
}

@media (max-width:767px){
    .landing .container .info p{
        font-size: 12px;
    }
}


.landing .go-down i{
    color: var(--maincolor);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateY(-50%);
    animation: bouncing 1.5s linear infinite;
}


/* ! END LANDING  */

/* ! START ARTICLES */

.articles{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.articles .card{
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    border-radius: 8px;
    transition: 0.4s;
}

.articles .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .card:hover i{
    animation: arrow 0.6s linear infinite;
}

.articles .image img{
    max-width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.articles .container .info{
    padding: 20px;
}

.articles .container .info h3{
    margin: 0;
}

.articles .container .info p{
    margin: 10px 0 0;
    line-height: 1.8;
    color: #777;
}

.articles .container .read-more{
    border-top: 1px solid #ddd;
    padding: 20px;
    color: var(--maincolor);
    display: flex;
    justify-content: space-between;
}

.articles .container .read-more a{
    color: var(--maincolor);
    font-weight: bold;
}

.articles .container .read-more i{
    font-size: 12px;
    transition: 0.4s;
    font-weight: bold;
}
/* ! END ARTICLES */

/* ! START GALLERY */

.gallery{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--section-background);
}

.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap:30px;
}

.gallery .card{
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    padding: 15px;
}

.gallery .container .card .image{
    position: relative;
    overflow: hidden;
}

.gallery .container .card .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:var(--section-background);
    opacity:0;
    transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    transition: 0.4s;
}

.gallery .container .card .image:hover::before{
    animation: flashing 0.7s;
}

.gallery .container .card .image img:hover{
    transform: rotate(5deg) scale(1.1);
}

.gallery img{
    transition: 0.4s;
    max-width: 100%;
}
/* ! END GALLERY */


/* ! START FEATURES */

.features{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.features .card{
    border: 1px solid #ccc;
    text-align: center;
}

.features .image{
    position: relative;
    overflow: hidden;
}

.features .card:first-child .image::before{
    content: "";
    position: absolute;
    background-color:#f43f3653;
    width: 100%;
    height: 100%;
}
.features .card:nth-child(2) .image::before{
    content: "";
    position: absolute;
    background-color:#00968751;
    width: 100%;
    height: 100%;
}
.features .card:last-child .image::before{
    content: "";
    position: absolute;
    background-color:#03a8f44a;
    width: 100%;
    height: 100%;
}
.features .card .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color:transparent transparent white  transparent ;
    border-width:0px 0px 170px 700px;
    transition: 0.4s;
}

.features .card:hover .image::after{
    border-width:0px 500px 170px 0px;
}

.features .image img{
    max-width: 100%;
}

.features .info{
    padding: 10px; 
}

.features .info h1{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .card:first-child .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #f44036;
}

.features .card:nth-child(2) .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #009688;
}

.features .card:last-child .info h1::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #03a9f4;
}

.features .card .info p{
    color: #777;
    line-height: 2;
    font-size: 23px;
    padding: 25px;
}

.features .card a{
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}

.features .card:first-child .link a{
    border: #f44036 solid 3px;
    color:  #f44036;
    transition: 0.4s;
    background: linear-gradient(to right,#f44036 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .card:nth-child(2) .link a{
    border:  #009688 solid 3px;
    color:   #009688;
    transition: 0.4s;
    background: linear-gradient(to right,#009688 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .card:last-child .link a{
    border: #03a9f4 solid 3px;
    color: #03a9f4;
    transition: 0.4s;
    background: linear-gradient(to right,#03a9f4 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


.features .card:first-child:hover .link a,
.features .card:nth-child(2):hover .link a,
.features .card:last-child:hover .link a{
    background-position: left bottom;
    color: white ;
}

/* ! END FEATURES */



/* todo START animation */

/* ? MAIN_TITLE */
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* ? MAIN_TITLE */

/* ? landing */
@keyframes bouncing{
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    30%,
    40%,
    70%{
        transform: translateY(-15px);
    }
}

@keyframes up-and-down{
    0%,
    100%{
        top:0;
    }
    50%{
        top:-50px
    }
}
/* ? landing */

/* ? ARTICLES */

@keyframes arrow{
    100%{
        transform: translateX(10px);
    }
}

/* ? ARTICLES */

/* ? GALLERY */

@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* ? GALLERY */

/* todo END animation */